//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Theme colors
$o-theme-color-palettes: (
    (
        'alpha': #1b77f9,
        'beta': #c4c5c4,
        'gamma': #1e1e1e,
        'delta': #e8e8e8,
        'epsilon': #f1f1f2,
    ),
);

// Colors
$o-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'body': #ffffff,
        'menu': #f9f9f9,
        'footer': #f9f9f9,
        'text': #6b6b6b,
        'h1': #555555,
        'h2': #555555,
        'h3': #555555,
        'h4': #555555,
        'h5': #555555,
        'h6': #555555,
    ));
}

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

// FIXME solve per font options

$o-theme-fonts: (
    (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Noto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"), // This is BS default
    ('Open Sans', sans-serif),
    ('Source Sans Pro', sans-serif),
    ('Raleway', sans-serif),
    ('Noto Serif', serif),
    ('Arvo', Times, serif),
    );
$o-theme-font-urls: (
    null,
    'Open+Sans:400,400i,700,700i',
    'Source+Sans+Pro:400,400i,700,700i',
    'Raleway:400,400i,700,700i',
    'Noto+Serif:400,400i,700,700i',
    'Arvo:400,400i,700,700i',
    );
$o-theme-font-names: (
    'Bootstrap',
    'Open Sans',
    'Source Sans Pro',
    'Raleway',
    'Noto Serif',
    'Arvo',
    );

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font-number': 4,
        'headings-font-number': 4,
        'navbar-font-number': 4,
        'buttons-font-number': 4,
    ),
);