.box_shadow_mini.s_product_carousel_mini {
    .item.product-single > form {
        -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        margin: 8px;
    }
}
