.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}
.fa_company_contact_info {
    font-size: 20px;
    padding: 5px 5px;
}

.center_logo{
    display:none;
}
.left_logo{
    display:none !important;
}#mid_header_top{
    display:none;
}
#mid_header_bottom{
    display:block;
}
#top_menu{
    #my_wish,#my_cart{
        display:none;
    }
}
.search_center{
    display:none;
}
.logo_mid_left{
    display:none;
}

/*------- mid_header_2 scss start here-----*/
@media only screen and (max-width: 440px) {
  #mid-header-bottom-right .text-right {
    text-align: center !important;
  }
  img {
    vertical-align: middle;
    border-style: none;
    padding-top: 10px;
    }
}
/*------- mid_header_2 scss end here-----*/