#mid_header_top,#mid_header_bottom{
    display:block;
}

.navbar-sign-in {
    display: none !important;
}

#top_menu {
    #my_wish, #my_cart {
        display: none;
    }
}

#company-email, #company-contact {
    margin-top: 8px;
}

.divider {
    display: none !important;
}

.user-details {
    display: none;
}

#mid-header-top-right-welcome-msg, #mid-header-top-center {
    display: none;
}

#mid-header-top-left {
    #company-contact {
        display: none;
    }
}

#mid-header-top-right {
    #company-profiles {
        display: none;
    }
}
/*---------mid_header_12 updated scss start-------*/
.btn {
    display: inline-block;
    font-weight: 400;
    padding: 0rem 0rem;
    font-size: 0.875rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-decoration: none;
}
.text-right {
   padding-top: 3px;
   text-align: right;
   right:0;
}

#mid-header-bottom-left .text-center {
    text-align: left !important;
    padding-left:0px;

}
.input-group-append .btn {
    padding: 5px 10px 5px 10px;
}
@media only screen and (max-width: 440px) {
    .text-left {
        text-align: center !important;
    }
    #mid-header-bottom-left .text-center {
        text-align: center !important;
    }
    .text-right {
        text-align: center !important;
    }
    .user-details_1 ul {
         text-align: center !important;
    }
    .dropdown-menu {
        min-width: 6.5rem;
    }
}
@media only screen and  (min-width: 768px) {
   #mid-header-top-right {
        margin-left: 33.33333333%;

    }
    .user-details_1 ul {
        text-align: left !important;
        display: flex !important;
        float: right;
    }

    .text-left {
        text-align: left !important;
        width: max-content;
    }
    .text-right {
        text-align: right !important;

    }
    .list-inline {
        display: inline-flex;
    }
}
/*---------mid_header_12 updated scss end-------*/
.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}
.fa_company_contact_info {
    font-size: 20px;
    padding: 5px 5px;
}

.center_logo{
    display:none;
}
.left_logo{
    display:none !important;
}
#top_menu{
    #my_wish,#my_cart{
        display:none;
    }
}

.search_left{
    display:none;
}
.logo_mid_center{
    display:none;
}
