//---- Collapse Categories Start----//
#product_pager_top{
    margin:32px 0;
}

#products_grid_before{
    padding-right: 30px;
}

#o_shop_collapse_category{

    .wsale_products_categories_collapse{
        padding:5%;
        padding-top:0;
    }

    .nav-item a,li > ul > li > a,li > ul > li > ul > li > a{
        line-height: 1;
    }

    > li > ul > li > a,> li > ul > li > ul > li > a{
        background:transparent;
    }

    .nav-item {
        padding: 4px 0;
        width: 100%;

        a{
             padding-left: 3px;
              width: 90%;
              max-width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              color: #595959;
        }

        a.active {
            line-height: 1;
             background-color: transparent;
            color: #000000;
            font-family: inherit;
        }

        i{
            float: right;
            padding-top: 2px;
            position: relative;
            right: 10px;
        }

        ul.nav-hierarchy {
          margin-top: 0.3rem;
          margin-left: 1rem;
        }

     }
}


.category-heading{
    text-transform: uppercase;
    letter-spacing: 0;
    border-bottom: 1px solid #ededed;
    padding-bottom: 16px;
}






//---- Collapse Categories End----//

/*-------------------------Product Attributes Filter Start------------------*/
#products_grid_before{
    .js_attributes{
        ul{
            li{
                div{
                    padding-bottom: 5px;
                    border-bottom: 1px solid #ccc;
                    margin-top: 20px;
                    padding-top: 15px;
                    cursor: pointer;

                    strong{
                        text-transform: uppercase;
                        letter-spacing: 0;
                        padding-bottom: 16px;
                        font-size:21px;
                        color:#333333;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }
            }

            .css_attribute_color {
                margin-top: 16px;
                //border-radius: 50%;
                height: 15px;
                 width: 15px;
            }

            .form-control{
                margin: 16px 0;
            }
        }

         .css_attribute_color.active{
            border: 3px ridge theme-color('alpha');
        }

    }

    #tags_div,brands_div{
        #filter-attribute h4{
            margin-bottom: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            //margin-top: 20px;
            padding-top: 15px;
            cursor: pointer;
        }
    }

    #brands_div > div {
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 16px;
            padding-top: 15px;
            cursor: pointer;

            strong{
                font-size:21px;
                font-weight:500;

            }
    }

    #brands_div{
        > ul > li > label{
                margin:0 !important;
            }
    }


}



.js_attributes{
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      -moz--webkit-appearance: none; -moz-appearance: none; appearance: none;
    }

    .nav-item{

        ul.nav-pills {
          margin-left: 0;
        }

        ul.nav-pills label.nav-link {
          margin: 0 !important;
          padding: 0.3rem 0rem;
          position: relative;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        ul.nav-pills label.active {
          background-color: transparent;
        }

        ul.nav-pills label.nav-link span {
          font-size: 0.8125rem;
          color: #545353;
          font-family: inherit;
          text-transform: capitalize;
        }

    }

     [type="checkbox"]:not(:checked) + span,
     [type="checkbox"]:checked + span {
      position: relative;
      padding-left: 2.30em;
      cursor: pointer;
    }

     [type="checkbox"]:not(:checked) + span:before,
     [type="checkbox"]:checked + span:before {
      content: '';
      position: absolute;
      top: 3px;
      right: auto;
      bottom: auto;
      left: 7px;
      width: 12px;
      height: 12px;
      border-width: 1px;
      border-color: #cccccc;
      border-style: solid;
      background: #fff;
      border-radius: 1px;
    }

    [type="checkbox"]:not(:checked) + span:after {
      opacity: 0;
      transform: scale(0);
    }

    [type="checkbox"]:checked + span:after {
      opacity: 1;
      transform: scale(1);
    }

    [type="checkbox"]:not(:checked) + span:after,
    [type="checkbox"]:checked + span:after {
      content: '';
      position: absolute;
      top: 6px;
      right: auto;
      bottom: auto;
      left: 10px;
      transition: all .2s;
      background-color: theme-color('primary');
      width: 6px;
      height: 6px;
    }

}

//----------------Tag input-------------//
#tags_div{
    .product-tag{
        span{
            &:before{
            display:none !important;
            }
        }
    }
    [type="checkbox"]:not(:checked) + span:before,[type="checkbox"]:checked + span:before{
      display:none !important;
    }
    [type="checkbox"]:not(:checked) + span, [type="checkbox"]:checked + span{
        padding-left: 0;
    }

    label.product-tag.btn.btn-primary.btn-xs.mb8.tag_checked > span:after{
      display: none;
    }

    label{
        padding: 2px;
        border-radius: 0;
     }

}
//----------------Tag input-------------//

/*-------------------------Product Attributes Filter End------------------*/

//----- Pager ------//
#product_pager_top.justify-content-center {
    justify-content: flex-end !important;
}

#product_pager_top .btn, #product_pager_bottom .btn {
    background: transparent !important;
    color: #333333 !important;
}

#product_pager_top,#product_pager_bottom{
    .btn{
        border-radius:0 !important;
        background: transparent !important;
        color: #333333;
        border: 1px solid #ededed;
    }



    .btn,.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow:none;
    }
}

#product_pager_top{
    .pagination{
        display:none;
    }

}

@media (min-width: 768px){
.justify-content-md-center {
    justify-content: flex-end !important;
}
}

#product_pager_bottom{
    .col-md-12{
        text-align:right;
    }

    ul.pagination{
        display: inline-flex;
    }

    .mt-2.o_wsale_apply_layout{
        margin-top:0 !important;
        margin-right: 5px;
    }
}

//----- Pager ----//

//----- Grid View Start ------//
 #grid_list.oe_grid,#grid_list.oe_list{
    .product_price{
        b{
            color: #333333;
        }
    }

    .o_wsale_product_btn{

              padding:2% !important;
              //-----------------Remove Comment If You Want Same Design Of Buttons As Per V12 ----------//
                //position:unset;
              //-----------------Remove Comment If You Want Same Design Of Buttons As Per V12 ----------//
              a.btn.btn-secondary,button.btn.btn-secondary{
                  display: block !important;
                  float: left;
                  padding: 8px;
                  background: transparent;
                  width: 25%;
                  border: 1px solid #ededed;
                  //border-right: 1px solid theme-color('primary');
                  border-radius:0;
                   font-size:18px;
                    //color:theme-color('secondary');
                    color:#323232;
                    transition: color 0.3s ease, background-color 0.3s ease !important;
                    margin-bottom: 6px;
              }
          }
 }

 @media (max-width: 767px) {
    #grid_list{
        .o_wsale_product_btn{
            position:unset !important;
        }

        .product_price{
            border-top:none !important;
        }
    }
}

@media (min-width: 767px) {
    #grid_list.oe_grid{

        padding:0;

        .card{
            border-radius:0;
        }

        .o_wsale_product_information_text{
            text-align:left !important;
        }
        .product_price{
            .btn.btn-secondary{
                    display: none !important;
            }

            b{
                color: #333333;
            }
        }

        .o_wsale_product_btn{
            display:none;
        }

          .o_wsale_product_information_text{
              background:#fff !important;
           }

        &:hover{

            .o_wsale_product_btn{

                  display:block;
                  background:#ffffff;

                  a.btn.btn-secondary span.fa,button.btn.btn-secondary span.fa,.quick-view{
                        font-size:18px;
                        //color:theme-color('secondary');
                        color:#323232;
                        transition: color 0.3s ease, background-color 0.3s ease !important;

                        &:hover{
                            color:theme-color('alpha');

                        }

                        i{
                            color:#323232;
                            &:hover{
                                color:theme-color('alpha');
                            }
                        }

                  }



                  a.btn.btn-secondary:focus,button.btn.btn-secondary:focus{
                         box-shadow: none;
                  }

                  .btn.btn-secondary:last-child{
                   // border-right: none;
                  }
            }


        }

          //---- Quick View Issue Start ----//
        .quick-modal{
            .product_price{
                -webkit-animation:unset !important;
                animation: unet !important;
                transition: unset;
                position: unset;
                width: unset;
                display: unset;
                background: unset;
                left: unset;
                padding-bottom: unset;
                border-top: unset;
                padding-top: unset;
                text-align: unset;

                b{
                    display:block;
                    color:#333333;
                }

            }

        }
        //----  Quick View Issue End ---//

        .quick-btn{
                color:inherit;
            }

        }



    //---- Grid View End ----//


    //---- List View Start ----//

    .o_wsale_layout_list{
        #grid_list{

            .card{
                border:none;
            }

            margin-bottom: 20px;
            border: 1px solid #ededed;

            > form{
                padding: 20px;
                max-width: 100%;
                margin: 5% 0;

                div > section > div > b{
                    display: block;
                }

                .product_price{
                    text-align: left;
                    margin-bottom: 20px;
                    font-size: 25px;

                    a.btn,button.btn{
                        border: none;
                        margin-right: 5px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        font-size: 20px;
                        width: 40px;
                        border-radius: 0;
                    }
                }

                section{
                    > h6{
                        text-align: left;
                        font-size: 20px;
                        margin: 0 0 10px;
                        line-height: 24px;
                        font-weight: 400;
                    }
                }
            }

        }

    }

    .o_wsale_layout_list{
        @media (min-width: 767px){
            #grid_list.oe_grid .o_wsale_product_btn {
                padding: 2% !important;
                display: none;
                width: 40%;
            }
        }

        @media (min-width: 767px){
            :not(.oe_subdescription){
                #grid_list.oe_grid .o_wsale_product_btn{
                    top: 50% ;
                }
            }

            #grid_list.oe_grid .o_wsale_product_btn {
                display: block !important;
                background: transparent !important;
                position: absolute !important;
                top: 80% !important ;
                left:20%;
            }

            .oe_product_cart .o_wsale_product_btn .btn + .btn{
                margin-top:0 !important;
            }
        }

        .oe_product_cart:hover{
            box-shadow:none;
        }

    }

    //----List View End ----//

    #grid_list{
    //----Product Ribbon Start ----//
        .ribbon{
            font: unset;
            font-size: 13px;
            transform: unset;
            top: 0px;
            padding: 4px 0;

            &:before,&:after{
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            top: -7px;
            left: 0px;
            }

            &:after{
                border-color: rgba(136, 183, 213, 0);
                border-left-color: #ffffff;
                border-width: 20px;
                /* margin-top: -30px; */
            }
        }
    //---- Product Ribbon End ----//
    }
}

.oe_product_cart:hover .o_wsale_product_information {
    background-color: #ffffff !important;
}

//---Responsive Screen Product Design Start (List/Grid View Same Design) ----//
@media (max-width: 767px) {
        #grid_list{
            section{
                background: rgba(255, 255, 255, 0.75) !important;
            }

            .product_price{
                  /*-------Uncomment This If You Want To Remove Description Hover Div------*/
                  //position: absolute;
                  /*-------Uncomment This If You Want To Remove Description Hover Div------*/
                  width: 100%;
                  display: inline-block;
                  background: #fff;
                  left: 0;
                  padding-bottom: 7px;
                  border-top: 1px solid #ededed;
                  padding-top: 7px;



                  .btn-sm{
                        border:none;
                    }
                        text-align:center;

                  b{
                    display: none;
                  }

                  a.btn.btn-secondary,button.btn.btn-secondary{
                      display: block !important;
                      float: left;
                      padding: 8px;
                      background: transparent;
                      width: 25%;
                      border-right: 1px solid #ededed;
                      //border-right: 1px solid theme-color('primary');
                      border-radius:0;
                  }

                  a.btn.btn-secondary span.fa,button.btn.btn-secondary span.fa{
                        font-size:18px;
                        //color:theme-color('secondary');
                        color:#323232;
                  }

                  a.btn.btn-secondary:focus,button.btn.btn-secondary:focus{
                         box-shadow: none;
                  }

                  .btn.btn-secondary:last-child{
                    border-right: none;
                  }

            }

        }

}
//---Responsive Screen Product Design End ----//

//--- Common Design For List/Grid View Start ----//
#grid_list{
    //border:none;
    padding:0;

     &:hover,&:focus {
        -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
        -ms-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
        -o-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
        -webkit-transition: all 350ms ease 0s;
        -moz-transition: all 350ms ease 0s;
        -ms-transition: all 350ms ease 0s;
        -o-transition: all 350ms ease 0s;
        transition: all 350ms ease 0s;
    }

        //padding: 10px 15px 5px 15px;

        h6 a{
            letter-spacing: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            max-width: 280px;
            -moz-transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            color: #323232;
        }

    h6{
        margin-bottom: 0px;
        display: inline-block;
        height: 24px;
        position: relative;
        width: 100%;
    }

    .text-info{
        color:#323232 !important;
    }

}
//--- Common Design For List/Grid View End ----//

//---- Product Page Bottom Start----//
#product_pager_bottom{
    ul.pagination{
        float:right;
    }
}
//---- Product Page Bottom End----//
