//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Theme colors
$o-theme-color-palettes: (
    (
        'alpha': #b2953b,
        'beta': #333333,
        'gamma': #8c8c8c,
        'delta': #76a647,
        'epsilon': #475ea6,
    ),
);

// Colors
$o-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'body': #282828,
        'menu': #f9f9f9,
        'footer': #000000,
        'text': #ffffff,
        'h1': #ffffff,
        'h2': #ffffff,
        'h3': #ffffff,
        'h4': #ffffff,
        'h5': #ffffff,
        'h6': #ffffff,
    ));
}

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

// FIXME solve per font options

$o-theme-fonts: (
    (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Noto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"), // This is BS default
    ('Open Sans', sans-serif),
    ('Source Sans Pro', sans-serif),
    ('Raleway', sans-serif),
    ('Noto Serif', serif),
    ('Arvo', Times, serif),
    ('Bungee', serif),
    ('Poppins', serif),
    );
$o-theme-font-urls: (
    null,
    'Open+Sans:400,400i,700,700i',
    'Source+Sans+Pro:400,400i,700,700i',
    'Raleway:400,400i,700,700i',
    'Noto+Serif:400,400i,700,700i',
    'Arvo:400,400i,700,700i',
    'Bungee:400,400i,700,700i',
    'Poppins:400,400i,700,700i',
    );
$o-theme-font-names: (
    'Bootstrap',
    'Open Sans',
    'Source Sans Pro',
    'Raleway',
    'Noto Serif',
    'Arvo',
    'Bungee',
    'Poppins',
    );

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font-number': 8,
        'headings-font-number': 7,
        'navbar-font-number': 8,
        'buttons-font-number': 8,
    ),
);